* {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a4636;
}

.ticButtons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: fit-content;
    margin: 50px auto;
}

.ticButton {
    width: 100px;
    height: 100px;
    font-size: 70px;
    border: 2px solid white;
    background-color: #1a4636;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    margin-top: 100px;
}

.ticButton:nth-child(-n+3) {
    border-top: none;
}

.ticButton:nth-child(n+7) {
    border-bottom: none;
}

.ticButton:nth-child(3n+1) {
    border-left: none;
}

.ticButton:nth-child(3n) {
    border-right: none;
}

#return {
    position: absolute;
    top: 3%;
    left: 1%;
    font-size: clamp(15px, 1.5vw, 25px);
    background-color: #22614a;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    color: white;
}

#return:hover {
    background-color: rgb(34, 88, 69);
}