* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Datatype", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a4636;
}

.cow {
    border-radius: 8px;
    border: 1px solid black;
    padding: clamp(0.5rem, 2vw, 1rem);
    margin: clamp(0.5rem, 2vw, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 15vw, 160px);
    height: clamp(120px, 18vw, 200px);
    background-color: #1a4636;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .15s ease-in-out;
}

.img {
    width: clamp(70px, 11vw, 140px);
    height: clamp(80px, 13vw, 160px);
}

.cow>* {
    display: none;
}

.clicked>* {
    display: initial;
}

.cow:hover {
    transform: scale(1.15);
    background-color: #1e5541;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

#return {
    position: absolute;
    top: 3%;
    left: 1%;
    font-size: clamp(15px, 1.5vw, 25px);
    background-color: #22614a;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    color: white;
}

#return:hover {
    background-color: rgb(34, 88, 69);
}