* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Datatype", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a4636;
}

.cow {
    border-radius: 8px;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159.85px;
    height: 194.25px;
    background-color: #1a4636;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .15s ease-in-out;
}

.cow > * {
    display: none;
}

.clicked > * {
    display: initial;
}

.cow:hover {
    transform: scale(1.15);
    background-color: #1e5541;
}

.img {
    width: 125px;
    height: 140px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

#return {
    position: absolute;
    left: 300px;
    width: 10%;
    font-size: 25px;
    cursor: pointer;
    background-color: #1a523d;
    border-radius: 8px;
    border: 2px solid black;
}

#return:hover {
    background-color: #1a4636;
}